.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

/* common */

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
        }
}

/* header */

.head {
    border-bottom: 1px solid #e7e9fc;
    align-items: center;
    height: 72px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.address {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
   .burger-btn {
    display: none;
   }

   .nav {
       display: flex;
       align-items: center;
   }

   .nav-list {
       display: flex;
       align-items: center;
       gap: 40px;
   }

   .header-logo {
    padding: 24px 0;
    margin-right: 120px;
   }

   .nav-link {
       font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       display: block;
       padding: 24px 0;
       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       color: #2E2F42;
   }

   .nav-link.accent {
     position: relative;
   }

   .nav-link.accent::after {
     content: "";

     position: absolute;
     left: 0;
     bottom: -1px;

     width: 100%;
     height: 4px;
     border-radius: 2px;

     background-color: #404bbf;
   }

   .address {
       font-style: normal;
       display: block;
   }

   .address-list {
       display: flex;
       flex-direction: column;
       gap: 12px;
   }

   .address-link {
       display: block;
       font-size: 12px;
       line-height: 1.17;
       letter-spacing: 0.04em;
       color: #434455;
       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .nav-link:hover,
   .nav-link:focus,
   .address-link:hover,
   .address-link:focus,
   .nav-link.accent {
    color: #404bbf;
   }
}

@media screen and (min-width: 1158px) {
.header-logo {
    margin-right: 76px;
    }

.address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
    }

.address-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
}

/* mobile menu */

.mobile-menu {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #fff;

opacity: 0;
visibility: hidden;
pointer-events: none;

transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mob-menu-container {
position: relative;
padding-top: 72px;
padding-bottom: 40px;

display: flex;
flex-direction: column;
height: 100%;
}

.mobile-menu-close {
position: absolute;
top: 24px;
right: 24px;
width: 24px;
height: 24px;
border-radius: 50%;
border: 1px solid rgba(0, 0, 0, 0.1);
background-color: #e7e9fc;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
padding: 0;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
    background-color: #404bbf;
    border: none;
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #2E2F42;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-nav-list {
    gap: 40px;
}

.mobile-nav-item {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.mobile-nav-link {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #2E2F42;
}

.mobile-nav-link.studio {
    color: #404bbf;
}

.mobile-contact-list {
    font-style: normal;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    width: 193px;
    height: 72px;
}

.contact-link {
    margin-bottom: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;

    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434443;
}

.info:hover,
.info:focus {
    color: #4d5ae5;
}

.mobile-socials {
    display: flex;
    gap: 24px;
    margin-top: 48px;
}

.mobile-socials-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.mobile-socials-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
}

.mobile-socials-logo {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    text-decoration: none;
}

.mobile-socials-logo,
.mobile-socials-svg {   
    fill: #f4f4fd;
    display: block;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }

    .nav {
        color: #2e2f42;
        display: flex;
        align-items: center;
        gap: 40px;
    }
}

@media screen and (min-width: 1158px) {
    .mobile-menu {
        display: none;
    }
}

/* main common */

.section-hero {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(/goit-markup-hw-06/images/web-studio/people-office-m.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) {
    .section-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(/goit-markup-hw-06/images/web-studio/people-office@2x.jpg);
    }
}

.hero-container {
    padding-top: 72px;
    padding-bottom: 72px;
}

.section-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
}

.button {
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;

    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
   
}

@media screen and (min-width:768px) {
    .section-hero {
    background-color: #2E2F42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(/goit-markup-hw-06/images/web-studio/Dark-bg-t.jpg);
    }

    .hero-container {
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .section-title {
    font-size: 56px;
    line-height: 1.07;
    }
}

@media screen and (min-width:768px) and (min-resolution: 192dpi) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(/goit-markup-hw-06/images/web-studio/Dark-bg-t@2x.jpg);
        }
}

@media screen and (min-width:1158px) {
    .section-hero {
        background-color: #2E2F42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(/goit-markup-hw-06/images/web-studio/people-office-d.jpg);
    }

    .hero-container {
        padding-top: 188px;
        padding-bottom: 188px;
    }

}

@media screen and (min-width:1158px) and (min-resolution: 192dpi) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(/goit-markup-hw-06/images/web-studio/people-office-d@2x.jpg);
    }
}

/* section two */

.section-two {
    padding: 96px 0;
}

.skills-list {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.skills-item {
    max-width: 100%;
}

.skills-title {
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
    text-align: center;
}

.skills-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.skills-list .skills-title {
    margin-bottom: 8px;
}

.skills-icon {
    display: none;
}

@media screen and (min-width: 768px) {
    .skills-list {
        flex-direction: row;
        gap: 72px 24px;
    }

    .skills-item {
        width: calc((100% - 24px) / 2);
        text-align: left;
    }

    .skills-title,
    .skills-text {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .skills-list {
        gap: 24px;
    }

    .skills-item {
        width: calc((100% - 72px) / 4);
    }

    .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
        }

    .skills-title {
        font-size: 20px;
    }

    .skills-text {
        font-size: 16px;
    }

    .skills-icon {
        display: flex;
    }
}

/* our team section */

.team {
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team-list {
    gap: 72px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.team-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;

    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px;
    
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 8px;
    text-align: center;
}

.team-position {
    text-align: center;
    color: #434455;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms ease;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: #f4f4fd;
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    
        .team-list {
            gap: 64px 24px;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .team-item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 32px;
    
            border-radius: 0 0 4px 4px;
            padding: 0px 0px 32px;
    
            box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
            background: #fff;
        }
    
        .team-position {
            text-align: center;
            color: #434455;
        }
}


/* Portfolio section */

.portfolio-section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-list {
    gap: 48px;    
    display: flex;
    align-items: center;
    flex-direction: column;

}

.portfolio-item {
    display: block;
    background-color: #fff;
    border: 1px solid #e7e9fc;
   box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
               0 1px 1px 0 rgba(46, 47, 66, 0.16), 
               0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.app-description {
    display: none;
}

.portfolio-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 8px;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        gap: 72px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        flex-direction: row;
    }
    
    .portfolio-item {
        display: block;
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        width: calc((100% - 24px) / 2);
    }

    .app-description {
            display: none;
    }
    
    .portfolio-item:hover .app-description {
        transform: translateY(0%);
        }
    
        .portfolio-name {
            margin-bottom: 8px;
        }
}

@media screen and (min-width: 1158px) {
    .portfolio-section {
        padding-top: 120px;
        padding-bottom: 120px;
        }
    
    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
        }
    
    .portfolio-item {
        width: calc((100% - 48px) / 3);
        display: block;
        background-color: #fff;
        border: 1px solid #e7e9fc;
        cursor: pointer;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    .portfolio-item:hover,
    .portfolio-item:focus {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    
    .img-wrapper {
        position: relative;
        overflow: hidden;
    }
    
    .app-description {
        position: absolute;
        top: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--cloud, #f4f4fd);
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .portfolio-item:hover .app-description {
        transform: translateY(0%);
    }
    
    .portfolio-content {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
    }
    
    .portfolio-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 8px;
    }
    
    .portfolio-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
}

/* FOOTER */

.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}

.footer-container {
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 72px;
}

.footer-logo-box {

}

.footer-logo {
    text-decoration: none;
    display: block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo .logo-part {
    color: #F4F4FD;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
    letter-spacing: 0.02em;
    color: #FFF;
}

.social-links {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-item {
    width: 40px;
    height: 40px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--iris, #4d5ae5);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
    background-color: #31d0aa;
}

.icon {
    fill: var(--cloud, #f4f4fd);
}

.logo-part {
    display: inline-block;
}

.subscribe-text {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.form-subscribe {

}

.subscribe-input-wrap {
    display: flex;
    gap: 24px;
}

.label-subscribe {
    display: flex;
}

.input-subscribe {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    padding: 8px 0 8px 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.input-email::placeholder {
    color: #ffffff;
}

.button-subscribe {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    
    border-radius: 4px;
    width: 165px;
    height: 40px;
    background: #4D5AE5;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border: none;
}

.button-subscribe:hover,
.button-subscribe:focus {
    background-color: #31d0aa;
}

.footer-icon {
    fill: #fff;
}

@media screen and (min-width: 768px) {
    .footer {
            background-color: #2E2F42;
            color: #F4F4FD;
            padding: 96px 0;
        }
    
    .footer-container {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        text-align: left;
        flex-direction: row;
        flex-wrap: wrap;
        }
    
    .footer-logo-box {
 
        }
    
    .footer-logo {
            text-align: center;
            display: inline-block;
            margin-bottom: 16px;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4d5ae5;
        }
    
        .footer-logo .logo-part {
            color: #F4F4FD;
        }
    
        .logo {
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4D5AE5;
        }
    
        .footer-text {
            max-width: 288px;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #f4f4fd;
        }
    
        .social-text {
            text-align: left;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 16px;
            letter-spacing: 0.02em;
            color: #FFF;
        }
    
        .social-links {
            display: flex;
            gap: 16px;
        }
    
        .social-item {
            width: 40px;
            height: 40px;
        }
    
        .link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-color: var(--iris, #4d5ae5);
            border-radius: 50%;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .link:hover,
        .link:focus {
            background-color: #31d0aa;
        }
    
        .icon {
            fill: #f4f4fd;
        }
    
        .logo-part {
            font-family: "Raleway", sans-serif;
            display: inline-block;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #F4F4FD;
        }
    
        .subscribe-text {
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 16px;
    
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #fff;
        }
    
        .form-subscribe {
            flex-direction: row;
            display: flex;
            gap: 24px;
        }
    
        .subscribe-input-wrap {
            display: flex;
            gap: 24px;
        }
    
        .label-subscribe {
            display: flex;
            gap: 12px;
            flex-wrap: wrap;

            display: block;
            flex-grow: 1;
            width: 264px;
        }
    
        .input-subscribe {
            background-color: transparent;
            border: 1px solid #ffffff;
            border-radius: 4px;
            width: 264px;
            height: 40px;
            padding: 8px 0 8px 16px;
            color: #ffffff;
            font-size: 12px;
            line-height: 2;
            letter-spacing: 0.04em;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
    
        .input-email::placeholder {
            color: #ffffff;
        }
    
        .button-subscribe {
            min-width: 165px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 ;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #ffffff;
            cursor: pointer;
            background-color: #4D5AE5;
            border: none;
            border-radius: 4px;
        }
    
        .button-subscribe:hover,
        .button-subscribe:focus {
            background-color: #31d0aa;
        }
    
        .footer-icon {
            margin-left: 16px;
            fill: #fff;
        }
}

@media screen and (min-width: 1158px) {
    .footer {
            background-color: #2E2F42;
            color: #F4F4FD;
            padding: 100px 0;
        }
    
        .footer-container {
            display: flex;
            align-items: baseline;
            flex-direction: row;
            flex-wrap: nowrap;
        }
    
        .footer-logo {
            text-decoration: none;
            display: inline-block;
            margin-bottom: 16px;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4d5ae5;
        }
    
        .footer-logo .logo-part {
            color: #F4F4FD;
        }
    
        .logo {
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4D5AE5;
        }
    
        .footer-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            max-width: 264px;
        }
    
        .social-text {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 16px;
            letter-spacing: 0.02em;
            color: #FFFFFF;
        }
    
        .social-links {
            display: flex;
            gap: 16px;
            list-style: none;
            padding: 0;
            margin: 0;
        }
    
        .social-item {
            width: 40px;
            height: 40px;
        }
    
        .link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-color: #4d5ae5;
            border-radius: 50%;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .link:hover,
        .link:focus {
            background-color: #31d0aa;
        }
    
        .icon {
            fill: #f4f4fd;
        }
    
        .logo-part {
            display: inline-block;
        }
    
        .footer-subscribe {
            margin-left: 80px;
        }
    
        .subscribe-text {
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 16px;
    
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #fff;
        }
    
        .form-subscribe {
            display: flex;
            gap: 24px;
        }
    
        .subscribe-input-wrap {
            display: flex;
            gap: 24px;
        }
    
        .label-subscribe {
            display: block;
        }
    
        .input-subscribe {
            background-color: transparent;
            border: 1px solid #ffffff;
            border-radius: 4px;
            width: 264px;
            height: 40px;
            padding: 8px 0 8px 16px;
            color: #ffffff;
            font-size: 12px;
            line-height: 2;
            letter-spacing: 0.04em;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
    
        .input-email::placeholder {
            color: #ffffff;
        }
    
        .button-subscribe {
            min-width: 165px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #ffffff;
            cursor: pointer;
            background-color: #4D5AE5;
            border: none;
            border-radius: 4px;
        }
    
        .button-subscribe:hover,
        .button-subscribe:focus {
            background-color: #31d0aa;
        }
    
        .footer-icon {
            margin-left: 16px;
            fill: #fff;
        }
}

/* modal */

.modal-terms-checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 00.04);
    width: 16px;
    height: 16px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin-right: 8px;
    fill: transparent;

    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-wrapper {
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.backdrop {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    max-width: 320px;
    max-height: 99%;
    overflow-y: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px;
    padding: 72px 24px 24px 24px;
}

.close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    bottom: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .close-button:hover,
.backdrop .close-button:focus {
    background-color: #404bbf;
    border: none;
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .close-button:hover .close-icon {
    fill: #ffffff;
}

.modal-title {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 16px;
    font-weight: 500;
    color: #2e2f42;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.modal-form {
    display: block;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    border-radius: 4px;
    width: 256px;
    height: 336px;
}

.input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    font-size: 14px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.icon-close:hover {
    fill: #ffffff;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:checked+label>span {
    background-color: #404BBF;
    border: none;
    fill: #f4f4fd;
}

.modal-input:focus+.modal-icon {
    fill: #4d5ae5;
}

.comment {
    margin-bottom: 16px;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    resize: none;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4d5ae5;
}

.checkbox-label {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
    gap: 8px;
}

.checkbox-input {
    display: none;
}

.checkbox-custom {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-custom:active {
    background-color: #404bbf;
}

.checkbox-input:checked+.checkbox-custom {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.privacy-policy {
    color: #4d5ae5;
    text-decoration: underline;
}

.modal-submit-btn {
    display: block;
    margin: 16px 32px;
    min-width: 169px;
    height: 56px;
    padding: 14px;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

    bottom: 24px;
}

.modal-terms {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 24px;
}

@media screen and (min-width:768px) {

.modal {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 408px;
    height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px;
    padding: 72px 24px 24px 24px;
}

.modal-title {
    text-align: center;
    margin-bottom: 16px;
    font-weight: 500;
    color: #2e2f42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.modal-form {
    display: block;
    flex-direction: column;
    gap: 8px;
    width: 360px;
    height: 336px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    font-size: 14px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.close-icon:hover {
    fill: #ffffff;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:checked+label>span {
    background-color: #404BBF;
    border: none;
    fill: #f4f4fd;
}

.modal-input:focus+.modal-icon {
    fill: #4d5ae5;
}

.comment {
    margin-bottom: 16px;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    resize: none;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4d5ae5;
}

.checkbox-label {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
    gap: 8px;
}

.checkbox-input {
    display: none;
}

.checkbox-custom {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-custom:active {
    background-color: #404bbf;
}

.checkbox-input:checked+.checkbox-custom {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.modal-submit-btn {
    min-width: 169px;
    height: 56px;
    padding: 14px;
    border-radius: 6px;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.modal-terms {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 24px;
}
}