.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}

.logo-part {
    color: #2E2F42;
    margin-right: 76px;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.accent {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

.section-hero {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), 
    url(/goit-markup-hw-04/images/icons/people-office.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
}

.section-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
}

.button {
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

.section-two {
    padding: 120px 0;
}

.skills-list {
    display: flex;
    gap: 24px;
    align-items: center;
}

.skills-item {
    width: calc((100% - 72px) / 4);
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.skills-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.skills-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.skills-list .skills-title {
    margin-bottom: 8px;
}

.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-item {
    width: calc((100% - 72px) / 4);
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    text-align: center;
}

.team-photo {
    padding: 32px 0;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 8px;
    text-align: center;
}

.team-position {
    text-align: center;
    color: #434455;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms ease;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: #f4f4fd;
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    display: block;
    background-color: #fff;
    border: 1px solid #e7e9fc;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.img-wrapper {
    position: relative;
    overflow: hidden;
}

.app-description {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud, #f4f4fd);
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .app-description {
    transform: translateY(0%);
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portfolio-category {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo-box {
margin-right: 120px;
}

.footer-logo {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo .logo-part {
    color: #F4F4FD;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 264px;
}

.social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.social-links {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-item {
    width: 40px;
    height: 40px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--iris, #4d5ae5);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
    background-color: #31d0aa;
}

.icon {
    fill: var(--cloud, #f4f4fd);
}

.logo-part {
    display: inline-block;
}

.footer-subscribe {
    margin-left: 80px;
}

.subscribe-text {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.form-subscribe {
    display: flex;
    gap: 24px;
}

.subscribe-input-wrap {
    display: flex;
    gap: 24px;
}

.label-subscribe {
    display: block;
}

.input-subscribe {
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    padding: 8px 0 8px 16px;
    color: #ffffff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.input-email::placeholder {
    color: #ffffff;
}

.button-subscribe {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.button-subscribe:hover,
.button-subscribe:focus {
    background-color: #31d0aa;
}

.footer-icon {
    margin-left: 16px;
    fill: #fff;
}

.modal-terms-checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 00.04);
    width: 16px;
    height: 16px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin-right: 8px;
    fill: transparent;
    
    transition: 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.field-wrapper {
    position: relative;
}

.text-field {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-field:focus {
    border-color: #4d5ae5;
    outline: none;
}

.field-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.form-field-wrapper {
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.backdrop {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
       visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
       0px 1px 3px rgba(0, 0, 0, 0.12), 
       0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px;
    padding: 72px 24px 24px 24px;
}

.close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
       border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .close-button:hover,
.backdrop .close-button:focus {
    background-color: #404bbf;
    border: none;
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #ffffff;
}

.backdrop .close-button:hover .close-icon {
    fill: #ffffff;
}

.modal-title {
 text-align: center;
 margin-bottom: 16px;
 font-weight: 500;
 color: #2e2f42;
 font-size: 16px;
 letter-spacing: 0.02em;
}

.input-wrap {
    position: relative;
}

.modal-input {
width: 100%;
height: 40px;
border-radius: 4px;
border: 1px solid rgba(46, 47, 66, 0.4);
font-size: 14px;
background-color: transparent;
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.close-icon:hover {
    fill: #ffffff;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:checked+label>span {
    background-color: #404BBF;
    border: none;
    fill: #f4f4fd;
}

.modal-input:focus + .modal-icon {
    fill: #4d5ae5;
}

.comment {
margin-bottom: 16px;
}

.modal-textarea {
 width: 100%;
    height: 120px;
    padding: 8px 16px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    resize: none;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4d5ae5;
}

.checkbox-label {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
    gap: 8px;
}

.checkbox-input {
    display: none;
}

.checkbox-custom {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
       border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
       fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-custom:active {
    background-color: #404bbf;
}

.checkbox-input:checked+.checkbox-custom {
    background-color: #404bbf;
    border: none;
    fill:#F4F4FD;
}

.privacy-policy {
    color: #4d5ae5;
    text-decoration: underline;
}

.modal-submit-btn {
min-width: 169px;
height: 56px;
    padding: 14px;
    border-radius: 6px;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.modal-terms {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 24px;
}